@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --default-background-color: #eef4f6;
  --default-text-color: #4e4b4b;
  --link-color: #1d70f3;

  --background-default: #eef4f6;
  --spotify-green: #1db954;
  --spotify-green-light: #eef6ee;
  --dribbble-pink: #ea4c89;
  --dribbble-pink-light: #f6eef2;
  --linkedin-blue: #0077b5;
}

body {
  background-color: var(--background-default);
  color: var(--deafult-body-color);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  color: var(--link-color);
}

a:hover {
  @apply opacity-80 transition ease-in duration-150;
}

p {
  color: var(--default-text-color);
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
} */

.default-background {
  background-color: var(--background-default);
}

.hero-section {
  /* Set the path to your image */
  background-image: url("hero-background.jpg");

  /* Ensure the image covers the entire area */
  background-size: cover;

  /* Pin the image to the bottom right */
  background-position: right top;

  /* Prevent the image from tiling/repeating */
  background-repeat: no-repeat;

  /* Optional: Ensure the container has enough height to show the image */
  width: 100%;
}

.spotify-green-background {
  background-color: var(--spotify-green-light);
}

.spotify-green-base-background {
  background-color: var(--spotify-green);
}

.text-brand-blue {
  color: var(--link-color);
}

.text-spotify-green {
  color: var(--spotify-green);
}

.fill-spotify-green {
  fill: var(--spotify-green);
}

.dribbble-pink-background {
  background-color: var(--dribbble-pink-light);
}

.dribbble-pink-base-background {
  background-color: var(--dribbble-pink);
}

.text-dribbble-pink {
  color: var(--dribbble-pink);
}

.fill-dribbble-pink {
  fill: var(--dribbble-pink);
}

.linkedin-blue-background {
  background-color: var(--linkedin-blue);
}

.container {
  @media (width >= 73rem) {
    max-width: 73rem;
  }
}

.large-paragraph {
  font-size: 1.25rem;
  color: var(--default-text-color);
}

@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-fade {
  /* Adjust '0.8s' for speed and 'ease-out' for the feel */
  animation: slideFadeIn 0.8s ease-out forwards;
}

/******************************
Buttons
*******************************/

.btn {
  @apply flex items-center justify-center font-medium rounded-md border py-2.5 px-6 gap-3 fill-white;
  border: 1px solid var(--link-color);
  background: var(--link-color);
  color: white;
}

.btn-white {
  @apply text-blue-600 bg-white border-gray-300;
}

.btn-transparent {
  color: var(--link-color);
  background: transparent;
  fill: var(--link-color);
}

/******************************
Header
*******************************/

header a {
  color: #000;
}

/******************************
Footer
*******************************/

.secondary-footer a {
  @apply font-semibold text-black hover:opacity-70 transition duration-150 ease-in;
}

.secondary-footer a:hover {
  color: #000;
}
