---
import DribbbleSpotify from "../components/DribbbleSpotify.astro";
import Layout from "../layouts/BaseLayout.astro";
---

<Layout
  title="Ian Polatka | Contact Me"
  description="Get in touch with me"
  ogImage="/social-media-graphic.png"
>
  <section class="border-t border-gray-950/5 default-background px-7 md:px-0">
    <div
      class="container mx-auto py-10 lg:py-12.5 lg:px-15 md:border-l md:border-r border-gray-950/5"
    >
      <div class="animate-slide-fade">
        <div class="mb-4">
          <h1 class="mb-4 font-semibold text-h2 text-blue-dark">Contact Me</h1>
          <p class="mb-4 text-blue-dark! md:w-3/5">
            You can get in touch with me through email at <a
              href="mailto:ianpolatka@gmail.com">ianpolatka@gmail.com</a
            >.
          </p>
          <p class="mb-4 text-blue-dark! md:w-3/5 md:mb-0">
            To see my professional experience, you can view my resume <a
              href="/ian-polatka-resume.pdf"
              target="_blank">here</a
            >.
          </p>
        </div>
      </div>
    </div>
  </section>
  <DribbbleSpotify />
</Layout>
