---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="DAV Magazine Case Study"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
>
  <section class="default-background border-t border-gray-300 px-10 md:px-0">
    <div
      class="container mx-auto py-[40px] lg:py-[50px] px-[20px] lg:px-[60px] md:border-l md:border-r border-gray-300"
    >
      <div class="animate-slide-fade">
        <div class="mb-4">
          <h1 class="text-3xl font-semibold text-brand-blue mb-2">
            Contact Me
          </h1>
          <p class="text-xl mb-4 leading-10">
            You can get in touch with me through email at <a
              href="mailto:ianpolatka@gmail.com">ianpolatka@gmail.com</a
            >.
          </p>
          <p class="text-xl md:w-3/5 mb-4 md:mb-0 leading-10">
            To see my professional experience, you can view my resumé <a
              href="/ian-polatka-resume.pdf"
              target="_blank">here</a
            >.
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
