---
import { Image } from "astro:assets";
import DavMagazine from "../assets/dav-magazine/magazine-home-page-thumbnail.jpg";
import WSC from "../assets/wsc/winter-sports-clinic-home-page-thumbnail.jpg";
---

<section class="px-2 border-t border-gray-950/5 md:px-0">
  <div
    class="container mx-auto py-10 lg:py-12.5 px-5 lg:px-15 md:border-l md:border-r border-gray-950/5"
  >
    <div class="mb-4">
      <h4 class="mb-5 font-semibold text-black text-h4">
        Selected Case Studies
      </h4>
    </div>

    <div class="md:flex md:gap-15">
      <div class="mb-8 md:mb-0 md:w-1/2">
        <a href="/dav-magazine-case-study" class="">
          <Image
            src={DavMagazine}
            alt="DAV Magazine Landing Page Case Study"
            class="w-full pt-4 mx-auto mb-5 aspect-auto ps-4 bg-tan-base"
          />
        </a>
        <div class="flex flex-col">
          <a href="/dav-magazine-case-study"
            ><h4 class="mb-4 !text-black">
              DAV Magazine Landing Page Case Study
            </h4>
          </a>
          <p class="mb-4">
            DAV's Magazine, a veteran magazine for those who served, has been in
            a printed circulation since the 1960s. Limited magazine articles
            were posted on DAV's website, and it was requested that a more
            robust magazine section be built out on the website.
          </p>
          <a href="/dav-magazine-case-study" class="flex items-center gap-2">
            Read More
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="md:w-1/2">
        <a href="/winter-sports-clinic-case-study">
          <Image
            src={WSC}
            alt="Winter Sports Clinic Case Study"
            class="w-full pt-4 mx-auto mb-5 aspect-auto ps-4 bg-tan-base"
          />
        </a>
        <div class="flex flex-col">
          <a href="/winter-sports-clinic-case-study"
            ><h4 class="mb-4 font-semibold !text-black">
              Winter Sports Clinic Case Study
            </h4>
          </a>
          <p class="mb-4">
            See how a site that hadn't had a visual update in roughly 10 years
            was restructured to meet the changing user's need while at the same
            time giving it a more modern look and feel.
          </p>
          <a
            href="/winter-sports-clinic-case-study"
            class="flex items-center gap-2"
            >Read More
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5"></path>
            </svg></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
