---
import { Image } from "astro:assets";
import Ian from "../assets/ian.jpeg";
---

<section class="bg-transparent border-t border-gray-300 px-10 md:px-0">
  <div
    class="container mx-auto py-10 lg:py-12.5 px-5 lg:px-15 md:border-l md:border-r border-gray-300"
  >
    <div class="animate-slide-fade">
      <Image
        src={Ian}
        alt="Ian Polatka"
        class="rounded-full border border-gray-300 mb-4 h-30 w-30"
      />
      <div class="mb-4">
        <h1 class="text-3xl font-semibold text-brand-blue mb-2">
          Hi, I'm Ian Polatka
        </h1>
        <p class="text-2xl md:w-3/5 mb-4 md:mb-0 leading-8">
          A <span class="text-black font-medium">UI/UX Designer</span> from <span
            class="text-black font-medium">The Commonwealth of Kentucky</span
          >. I help businesses figure out the best ways to improve their
          websites, so customers are happier and their needs are met.
        </p>
      </div>
      <div class="flex flex-col md:flex-row gap-4 justify-start">
        <a href="/contact-me" class="btn"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
            height="18"
            width="18"
          >
            <path
              d="M536.4-26.3c9.8-3.5 20.6-1 28 6.3s9.8 18.2 6.3 28l-178 496.9c-5 13.9-18.1 23.1-32.8 23.1-14.2 0-27-8.6-32.3-21.7l-64.2-158c-4.5-11-2.5-23.6 5.2-32.6l94.5-112.4c5.1-6.1 4.7-15-.9-20.6s-14.6-6-20.6-.9L229.2 276.1c-9.1 7.6-21.6 9.6-32.6 5.2L38.1 216.8c-13.1-5.3-21.7-18.1-21.7-32.3 0-14.7 9.2-27.8 23.1-32.8l496.9-178z"
            ></path></svg
          >
          Contact Me</a
        >
        <a
          href="/ian-polatka-resume.pdf"
          target="_blank"
          class="btn btn-white inline-flex items-center gap-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-paperclip"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5"
            ></path></svg
          >
          <span>View My Resumé</span>
        </a>
      </div>
    </div>
  </div>
</section>
