<section class="bg-white border-t border-gray-300 px-10 md:px-0">
  <div
    class="container mx-auto py-[40px] lg:py-[50px] px-[20px] lg:px-[60px] md:border-l md:border-r border-gray-300"
  >
    <div class="mb-4">
      <h2 class="text-2xl font-semibold text-black mb-2">
        Professional Experience
      </h2>
      <p class="large-paragraph md:w-3/5 mb-4 md:mb-0 leading-8">
        With nearly two decades of experience as a web designer and developer, I
        currently serve as a UI Designer at <a
          href="https://www.dav.org"
          target="_blank">DAV</a
        >. My passion lies in designing websites and software that effectively
        address business objectives while at the same time enhancing user
        satisfaction.
      </p>
    </div>
  </div>
</section>
