<section class="px-2 border-t border-gray-950/5 md:px-0">
  <div
    class="container mx-auto py-10 lg:py-12.5 px-5 lg:px-15 md:border-l md:border-r border-gray-950/5"
  >
    <div class="md:flex md:gap-15">
      <div class="mb-4 md:w-3/5">
        <h4 class="mb-5 font-semibold text-black text-h4">
          Professional Experience
        </h4>
        <p class="mb-4 md:mb-0">
          With nearly two decades of experience as a web designer and developer,
          I currently serve as a UI Designer at
          <a href="https://www.dav.org" target="_blank">DAV</a>. My passion lies
          in designing websites and software that effectively address business
          objectives while at the same time enhancing user satisfaction.
        </p>
      </div>

      <div class="p-5 mb-4 md:w-2/5 bg-tan-base">
        <h5 class="mb-5 font-semibold text-black text-h5">
          How I Get Work Done
        </h5>
        <p class="mb-4 md:mb-0">
          Tools I find myself using everyday include, but not limited to, <a
            href="https://www.figma.com/"
            target="_blank"
            class="font-semibold underline text-black!">Figma</a
          >, <a
            href="https://code.visualstudio.com/"
            target="_blank"
            class="font-semibold underline text-black!">VS Code</a
          >, <strong class="font-semibold text-black!">Terminal</strong>, <a
            href="https://www.adobe.com/products/photoshop.html"
            target="_blank"
            class="font-semibold underline text-black!">Photoshop</a
          >, and <a
            href="https://www.adobe.com/products/illustrator.html"
            target="_blank"
            class="font-semibold underline text-black!">Illustrator</a
          >.
        </p>
      </div>
    </div>
  </div>
</section>
