---
import { SEO } from "astro-seo";
// Import your global CSS here
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
}

const {
  title = "Ian Polatka",
  description = "UI/UX Designer from The Commonwealth of Kentucky",
  ogImage = "/social-media-graphic.png",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: ogImage,
        },
      }}
    />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-T9B6LDH2");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
